{% extends "layout.html" %}

{% block title %}
    Add to your Balance
{% endblock %}

{% block main %}
{% if not initial_render and success%}
<div class="success">
    <span>Your new balance is {{ balance }}</span>
</div>
{% endif %}
    <form action="/addcash" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="card" placeholder="Credit Card No." type="text"/>
            <input autofocus class="form-control" name="amount" placeholder="Amount" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Buy Credit</button>
    </form>
{% endblock %}
